@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto+Condensed&family=Roboto+Mono:ital,wght@0,400;0,500;1,300&display=swap');

body {
    
    background-color: black;
    height: 450vh;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

#cabecalho{
    display: flex;
    flex-direction: column;
    padding: 70px;
}

#container{
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.Topicos {
    text-align: left;
    height: 90px;
    width: 100%;
}

#artigo  a:hover {
    color: aqua;
}

li a:hover {
    color: aqua;
   }

#ferramentas a:hover {
    color: aqua;
}

.Alunos a:hover {
    color: aqua;
}


h1, h2, h3, li {
    color: rgb(110, 215, 244);

}


p {
    color: white;
    text-align: justify;
}

.Alunos {
    text-align: center;
    color: aqua;
}