@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto+Condensed&family=Roboto+Mono:ital,wght@0,400;0,500;1,300&display=swap');

body {
    margin: 0;
    background-color: black;
    height: 420vh;
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#separador{
    background-color: #ffffff;
    width: 2000px;
    height: 10px;
}
.Topicos {
       text-align: left;
        margin-top: 20px;
            height: 90px;
            width: 100%;
}

#artigo  a:hover {
    color: aqua;
}

li a:hover {
    color: aqua;
   }

#ferramentas a:hover {
    color: aqua;
}

.Alunos a:hover {
    color: aqua;
}


h1, h2, h3 {
    color: rgb(110, 215, 244);

}


p {
    color: white;
    text-align: justify;
}

.Alunos {
    text-align: center;
    font-style: italic;
    color: #000000;
}

footer{
    background-color: #ffffff;
}